@model IEnumerable<OneInc_test.Web.Models.PolicyDtoCreated>
@{
    ViewBag.Title = "Policies";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/custom")

<button class="px-md-5" onclick="location.href='@Url.Action("Create")'">Create New</button>
<button class="px-md-5" id="filter" onclick="filterOptions()">Filter</button>

<body>
    <div id="modDialog" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content" id="dialogContent">
                
            </div>
        </div>
    </div>
    @Html.ValidationSummary()
    <table class="table table-striped table-bordered table-sm" id="content">
        @Html.Partial("_policyCollection", Model);
    </table>
</body>

<script>
        
</script>
